.header{
    background-color: rgb(6, 30, 97);
    width: 100%;
    height: auto;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar{
    background-color: rgb(3, 3, 3);
    width: 100%;
    height: auto;
    float: left;
}

.content{
    background-color: aqua;
    width: 100%;
    height: auto;
    float: left;
}

.footer{
    background-color: #999;
    width: 100%;
    height: auto;
    float: left;
}

@media screen and (max-width: 800px) {
    .header, .navbar, .content, .footer{
        width: 100%;
    }   
}

